# <center>Google Maps APIs

In [1]:
import requests

In [2]:
import pandas as pd

In [3]:
api_key = "AIzaSyB5N7lIE2T6a3hrUFm9dYvwqTaa1mMVC_c"

## пример 1

In [4]:
url = f"https://maps.googleapis.com/maps/api/distancematrix/json?origins=40.6655101,-73.89188969999998&destinations=40.6905615,-73.9976592|40.6905615,-73.9976592&key={api_key}"
request = requests.get(url)
info = request.json()
info

{'destination_addresses': ['339 Hicks St, Brooklyn, NY 11201, USA',
  '339 Hicks St, Brooklyn, NY 11201, USA'],
 'origin_addresses': ['569 Vermont St, Brooklyn, NY 11207, USA'],
 'rows': [{'elements': [{'distance': {'text': '10.4 km', 'value': 10422},
     'duration': {'text': '36 mins', 'value': 2151},
     'status': 'OK'},
    {'distance': {'text': '10.4 km', 'value': 10422},
     'duration': {'text': '36 mins', 'value': 2151},
     'status': 'OK'}]}],
 'status': 'OK'}

In [5]:
rows = info['rows']
rows

[{'elements': [{'distance': {'text': '10.4 km', 'value': 10422},
    'duration': {'text': '36 mins', 'value': 2151},
    'status': 'OK'},
   {'distance': {'text': '10.4 km', 'value': 10422},
    'duration': {'text': '36 mins', 'value': 2151},
    'status': 'OK'}]}]

In [6]:
rows[0]['elements'][0]["distance"]["value"]

10422

In [7]:
distances = list(map(lambda x: {"distance":x["distance"]["value"]}, rows[0]['elements']))
distances

[{'distance': 10422}, {'distance': 10422}]

In [8]:
pd.DataFrame(distances)

   distance
0     10422
1     10422

## пример 2 (мой)

In [9]:
url_pref = "https://maps.googleapis.com/maps/api/distancematrix/"
output_format = "json"
starting_point_loc = ('40.6655101','-73.89188969999998')
place1 = ('40.6905615','-73.9976592')
place2 = ("40.6905615","-73.9976592")

origins = ','.join(starting_point_loc)
destinations = "|".join([','.join(place1), ','.join(place2)])

In [10]:
url = f"{url_pref}{output_format}?origins={origins}&destinations={destinations}&key={api_key}"

In [11]:
url

'https://maps.googleapis.com/maps/api/distancematrix/json?origins=40.6655101,-73.89188969999998&destinations=40.6905615,-73.9976592|40.6905615,-73.9976592&key=AIzaSyB5N7lIE2T6a3hrUFm9dYvwqTaa1mMVC_c'

In [12]:
request = requests.get(url)
request.json()

{'destination_addresses': ['339 Hicks St, Brooklyn, NY 11201, USA',
  '339 Hicks St, Brooklyn, NY 11201, USA'],
 'origin_addresses': ['569 Vermont St, Brooklyn, NY 11207, USA'],
 'rows': [{'elements': [{'distance': {'text': '10.4 km', 'value': 10422},
     'duration': {'text': '36 mins', 'value': 2151},
     'status': 'OK'},
    {'distance': {'text': '10.4 km', 'value': 10422},
     'duration': {'text': '36 mins', 'value': 2151},
     'status': 'OK'}]}],
 'status': 'OK'}

## пример 3

In [13]:
url_pref = "https://maps.googleapis.com/maps/api/distancematrix/"
output_format = "json"
starting_point_loc = ('51.676469', '39.290586')
place1 = ('51.672732', '39.287668')
place2 = ('51.670976', '39.287882')

origins = ','.join(starting_point_loc)
destinations = "|".join([','.join(place1), ','.join(place2)])

In [14]:
url = f"{url_pref}{output_format}?origins={origins}&destinations={destinations}&key={api_key}"

In [15]:
url

'https://maps.googleapis.com/maps/api/distancematrix/json?origins=51.676469,39.290586&destinations=51.672732,39.287668|51.670976,39.287882&key=AIzaSyB5N7lIE2T6a3hrUFm9dYvwqTaa1mMVC_c'

In [16]:
request = requests.get(url)
info = request.json()
info

{'destination_addresses': ["Pereulok Pavlovskiy, 64А, Voronez, Voronezhskaya oblast', Russia, 394002",
  "Pavlovskiy Pereulok, 58, Voronez, Voronezhskaya oblast', Russia, 394002"],
 'origin_addresses': ['Ulitsa Uryvskogo, 17 корпус 2, Voronez, Воронежская, Russia, 394002'],
 'rows': [{'elements': [{'distance': {'text': '0.5 km', 'value': 537},
     'duration': {'text': '2 mins', 'value': 116},
     'status': 'OK'},
    {'distance': {'text': '0.7 km', 'value': 662},
     'duration': {'text': '2 mins', 'value': 140},
     'status': 'OK'}]}],
 'status': 'OK'}

In [17]:
rows = info['rows']
distances = list(map(lambda x: {"distance":x["distance"]["value"]}, rows[0]['elements']))
pd.DataFrame(distances)

   distance
0       537
1       662

In [96]:
dist = map(lambda x: x["distance"]["value"], rows[0]['elements'])

In [97]:
places = zip([3, 5], dist)

In [98]:
[place for place in places if place[1] < 600]

[(3, 537)]